In [86]:
import pandas as pd
import numpy as np

In [87]:
raw_data = pd.read_csv('city.csv', sep=';', encoding='cp1251')
raw_data.head()

   city_id  country_id  region_id           name
0     4400        3159       4312         Москва
1     4313        3159       4312      Абрамцево
2     4314        3159       4312        Алабино
3     4315        3159       4312      Апрелевка
4     4316        3159       4312  Архангельское

In [88]:
data = raw_data.iloc[:,3].values

In [89]:
dic = {}
for val in data:
    val = val.split('(')[0].strip()
    val = val[0].upper() + val[1:]
    if 64 < ord(val[0]) < 91 or 'о.' in val:
        continue
    dic[val[0]] = dic.get(val[0], [])
    dic[val[0]].append(val)

In [83]:
from random import randint

alfa = 'АБВГДЕЖЗИЙКЛМНОПРСТУФХЦЧШЩЭЮЯ'


def game(l=5):
    dic_st = {key:dic[key][:] for key in dic}
    ch = alfa[randint(0, len(alfa)-1)]
    words = []
    for i in range(l):
        arr = dic_st[ch]
        inx = randint(0, len(arr)-1)
        word = arr[inx]
        words.append(word)
        del arr[inx]
        i = -1
        while word[i].upper() not in alfa:
            i -= 1
        ch = word[i].upper()
    return f'<s>Играв в слова: {" ".join(words)}</s>\n'

In [90]:
with open('words_train.txt', 'bw') as f:
    for _ in range(10000):
        f.write(game(randint(10, 15)).encode('UTF-8'))
        
with open('words_valid.txt', 'bw') as f:
    for _ in range(1000):
        f.write(game(randint(10, 15)).encode('UTF-8'))